html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.58;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h1 {
    font-size: 2em;
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 23px;
}

a img {
    border:none; vertical-align:top;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;
}

article img {
    max-width: 100%;
}

[rel="footnote"] {
    background: #4591aa;
    height: 16px;
    min-width: 16px;
    padding: 1px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    outline: none;
    text-decoration: none;
    vertical-align: super;
}

[rel="footnote"]:hover, [rel="footnote"]:active, [rel="footnote"]:visited, [rel="footnote"]:focus {
    color: white;
    background: #4591aa;
}

[rel="footnote2"] {
    background: #B7B7B7;
    height: 16px;
    min-width: 16px;
    padding: 1px;
    display: inline-block;
    color: white;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    outline: none;
    text-decoration: none;
    vertical-align: super;
}

[rel="footnote2"]:hover, [rel="footnote2"]:active, [rel="footnote2"]:visited, [rel="footnote2"]:focus {
    color: white;
    background: #B7B7B7;
}

.hidden {
    display: none;
}

.last-position {
    position: fixed;
    top: 0;
    left: 0;
    background: crimson;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    line-height: 2em;
}

.btn {
    border: none;
    background: none;
    padding: 5px 20px;
}

.btn-default {
    border: 1px solid #ccc;
    background: white;
}
