body {
    font-family: 'Noto Sans', sans-serif;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

article img {
    max-width: 100%;
}

[rel="footnote"] {
    background: #4591aa;
    height: 16px;
    min-width: 16px;
    padding: 1px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    outline: none;
    text-decoration: none;
    vertical-align: super;
}

[rel="footnote"]:hover, [rel="footnote"]:active, [rel="footnote"]:visited, [rel="footnote"]:focus {
    color: white;
    background: #4591aa;
}

[rel="footnote2"] {
    background: #B7B7B7;
    height: 16px;
    min-width: 16px;
    padding: 1px;
    display: inline-block;
    color: white;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    outline: none;
    text-decoration: none;
    vertical-align: super;
}

[rel="footnote2"]:hover, [rel="footnote2"]:active, [rel="footnote2"]:visited, [rel="footnote2"]:focus {
    color: white;
    background: #B7B7B7;
}

.hidden {
    display: none;
}

.last-position {
    position: fixed;
    top: 0;
    left: 0;
    background: crimson;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    line-height: 2em;
}

.btn {
    border: none;
    background: none;
    padding: 5px 20px;
}

.btn-default {
    border: 1px solid #ccc;
    background: white;
}
